main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    display: flex;
    gap: 90px;
    padding: 20px;

    .selected {
      border-bottom: 5px solid black;
    }
  }

  .section {
    //height: 100%;

    .select-category {
      padding: 5px;
      border-radius: 20px;
      margin-bottom: 10px;
    }
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      .card-img-top {
        border-radius: 20px;
      }
    }
  }
}
